utf-8

.header {
  height: 168.75px;
  background-color: #ffffff !important;
}

#headerImage {
  height: auto !important;
  max-width: 100% !important;
}

p {
  line-height: 30px ;
}

#navbarBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#carouselContainer {
  padding-top: 0px;
  margin-top: 0px;
  background-color: #ffffff;
  height: 400px;
}

.carousel {
  height: 400px;
  width: 100%;
}

.carouselImage {
  height: 400px !important;
  width: 100%;
  align-items: center;
}

.elementContainer {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 350px;
  font-size: 12pt;
}

#elementRightText {
  margin-right: 25px;
  line-height: 40px;
  color: #D3DAD7;
  padding-left: 35px;
  padding-bottom: 40px;
}

#elementLeftText {
  margin-left: 5px;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 40px;
}

#elementLeft {
  background-color: #C6CDE7;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 350px !important;
}

#elementRight {
  background-color: #353535;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 350px !important;
}

.footer {
  background-color: grey;
  text-align: center;
  margin-top: 0px;
  position: absolute;
  width: 100%;
}

.footer a {
  color: #353535;
}

.footerText {
  color: #353535;
}




/* Media Queries */

/* this is to align the text on the navbar to center */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
