utf-8
.header {
  height: 168.75px;
  background-color: #ffffff !important;
}

#headerImage {
  height: auto !important;
  max-width: 100% !important;
}

p {
  line-height: 30px ;
  color: #555 !important;
}

#navbarBottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#carouselContainer {
  padding-top: 0px;
  margin-top: 0px;
  background-color: #ffffff;
  height: 400px;
}

.carousel {
  height: 400px;
  width: 100%;
}

.carouselImage {
  height: 400px !important;
  width: 100%;
  align-items: center;
}

.footer-bottom {
  background-color: #555555;
  text-align: center;
  min-height: 60px;
  width: 100%;
}

.footer-bottom a {
  color: #fffafa;
}

.footerText {
  color: #fffafa;
}




/* Media Queries */

/* this is to align the text on the navbar to center */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* this is to shrink the text down so it can fit */
@media (min-width: 768px) {
  #elementLeftText #elementRightText {
    line-height: 5px;
  }
}
